<!DOCTYPE html>
<html>
  <head>
    <title>QuestionAura</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link rel="icon" href="<%= image_url("favicon.png") %>">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script type="text/javascript">
    window.fullLogoURL = "<%= image_url('RickandMortyBackground.jpg') %>";
    window.profilePic = "<%= image_url('profile.png') %>";
    window.magnifyingGlass = "<%= image_url('magnifyingGlass.png') %>";
    window.coding = "<%= image_url('coding.jpg') %>";
    window.bootcamp = "<%= image_url('bootcamp.jpg') %>";
    window.feed = "<%= image_url('feed.jpg') %>";
    window.finance = "<%= image_url('finance.png') %>";
    window.career = "<%= image_url('career.png') %>";
  </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
